---
const { cta } = Astro.props
---

<button>{cta}</button>

<style>
    button {
        background: var(--clr__white);
        cursor: pointer;

        padding: .5rem 1rem;
        border: 1px solid var(--clr__ultra__black);
        border-radius: 100vh;

        transition: .2s linear;
    }

    button:is(:hover, :focus-within) {
        scale: 1.02;
        box-shadow: 3px 3px 0px 1px rgba(0,0,0,1);
    }
</style>