---
import MainLayout from "../layouts/MainLayout.astro";
import AboutMeHero from "../components/AboutMe.astro"
import Skills from "../components/Skills.astro";
---

<MainLayout title="Facundo Solé - About Me!">
	<main>
        <AboutMeHero />
		<Skills />
	</main>
</MainLayout>

<style>
</style>