---
import MainLayout from "../layouts/main-layout.astro";
import Navbar from "../components/navbar.astro";
import AboutMeHero from "../components/about-me.astro"
import Skills from "../components/skills.astro";
---

<MainLayout title="Facundo Solé - About Me!">
	<main class="section">
        <AboutMeHero />
		<Skills />
	</main>
</MainLayout>

<script>
    const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			console.log(entry)
			if(entry.isIntersecting) {
				entry.target.classList.add('fade__animation')
			}
		})
	})
</script>