---
import MainLayout from "../layouts/MainLayout.astro";
import SelectedProjects from "../components/SelectedProjects.astro";
import Skills from "../components/Skills.astro";
---

<MainLayout title="Facundo Solé">
	<main>
		<SelectedProjects />
		<Skills />
	</main>
</MainLayout>

<style></style>
