---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro'
import SelectedProjects from '../components/SelectedProjects.astro';
---

<MainLayout title="Facundo Solé">
	<main>
		<Hero />
		<SelectedProjects />
	</main>
</MainLayout>

<style>

</style>
