---
import Hero from "../components/Hero.astro";
import SelectedProjects from "../components/SelectedProjects.astro";
import Skills from "../components/Skills.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Facundo Solé">
  <main>
    <Hero />
    <SelectedProjects />
    <Skills />
  </main>
</MainLayout>
