---
import MainLayout from "../layouts/main-layout.astro";
import Navbar from "../components/navbar.astro";
import Hero from "../components/hero.astro";
import SelectedProjects from "../components/selected-projects.astro";
import Skills from "../components/skills.astro";
---

<MainLayout title="Facundo Solé">
	<main>
		<Hero />	
		<SelectedProjects />		
		<Skills />
	</main>
</MainLayout>
