---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import SelectedProjects from "../components/SelectedProjects.astro";
import Skills from "../components/Skills.astro";
---

<MainLayout title="Facundo Solé">
	<main>
		<Navbar />
		<Hero />	
		<SelectedProjects />		
		<Skills />
	</main>
</MainLayout>
