---
const { tags } = Astro.props
---
<span>
    {tags}
</span>

<style>
    span {
        font-size: var(--fs__18);
        font-weight: var(--fw__semibold);
        color: var(--clr__primary__purple);

        background: var(--clr__secondary__purple);
        padding: .5rem 1rem;
        border-radius: 100vh;
    }
</style>