---
const { src, alt, skill, description } = Astro.props;
---

<div>
    <img src={src} alt={alt} />
    <article>
        <h3>{skill}</h3>
        <p>{description}</p>
    </article>
</div>
<style>
    img {
        background: var(--clr__secondary__purple);
        padding: 1rem;
        border-radius: 1.25rem;
    }

    div {
        border: solid 2px var(--clr__ultra__black);
        border-radius: 2.5rem;
        padding: 2rem 1.5rem;

        display: grid;
        gap: 2rem;

        scroll-snap-align: start;
    }

    h3 {
        font-size: var(--fs__20);
        font-weight: var(--fw__medium);
    }

    p {
        font-size: var(--fs__16);
        font-weight: var(--fw__regular);
        width: 25ch;
    }

    @media (min-width: 768px) {
        h3 {
            font-size: var(--fs__24);
        }

        p {
            font-size: var(--fs__20);
        }
    }
</style>
