<section class="section">
    <div>
        <h1>
            I'm Facu, <br />
            <span>I love
                <svg class="misc" viewBox="0 0 80 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="m 2 40 q 40 -11 75 -3" stroke="#5238F4" stroke-width="2.17925" stroke-linecap="round"/>
                </svg>
                </span> building websites
        </h1>
        <picture>
            <source
                srcset="/assets/me__Tablet.avif"
                media="(min-width: 768px)"
            />
            <img src="/assets/me__Mobile.avif" alt="Picture of Facundo Solé, a frontend developer" />
        </picture>
    </div>

    <article>
        <h2>Front-end developer</h2>
        <p>
            I am a frontend developer based in Argentina. Currently, my main technologies are Next.js with TypeScript for web applications and Astro.build with JavaScript for a more static oriented approach.
            
        </p>
        <p>
            I seek to learn new interesting things and keep developing my skills, while creating user-friendly applications in a professional environment.
        </p>
        <p>
            I'm a sports enthusiast, who loves playing all kind of sports. I also love learning languages! It opens my mind to new cultures and new ways to approach my problems.
        </p>
    </article>
</section>

<script>
    const observer = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
              if(entry.isIntersecting) {
                  entry.target.classList.add('fade__animation')
              }
          })
      })
  
      const section = document.querySelectorAll('.section')
  
      section.forEach((el) => observer.observe(el))
  </script>

<style>
    section {
        margin-block: 2rem;
    }

    h1 {
        font-size: var(--fs__36);
        font-weight: var(--fw__medium);
        width: 8ch;
    }

    article {
        margin-top: 3rem;
    }

    h2 {
        font-size: var(--fs__28);
        font-weight: var(--fw__medium);
    }

    p {
        font-size: var(--fs__18);
        font-weight: var(--fw__regular);
        margin-block: 1rem;
    }

    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        align-items: center;
    }

    span {
        position: relative;
        z-index: 25;
    }

    .misc {
            position: absolute;
            width: 95%;
            height: auto;
            bottom: -.75rem;
            left: 0;
            animation: fade-in 1.5s ease-in;
        }
    
    @keyframes fade-in {
        from { 
                width: 0;
                scale: 0;
                opacity: 0; 
        }
        to {
            width: 100%;
            scale: 1;
            opacity: 1;
        }
    }

    @media (min-width: 768px) {
        section {
            margin-block: 5rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        h1 {
            font-size: var(--fs__48);
            line-height: normal;
        }

        article {
            margin-top: 0;
        }

        h2 {
            font-size: var(--fs__32);
        }

        p {
            font-size: var(--fs__20);
        }

        .misc {
            bottom: -1.25rem;
        }
    }

    @media (min-width: 1024px) {
        section {
            margin-block: 6.5rem;
            display: grid;
            grid-template-columns: minmax(300px, 500px) 1fr;
            gap: 0;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
        }

        h1 {
            font-size: var(--fs__64);
        }

        article {
            margin-top: 0;
        }

        h2 {
            font-size: var(--fs__48);
        }

        p {
            font-size: var(--fs__20);
            margin-block: 2rem;
            max-width: 50ch;
        }

        .misc {
            bottom: -1.75rem;
        }
    }
</style>
