<section class="section">
    <div>
        <h1>
            I'm Facu, <br />
            <span
                >I love<img
                    class="misc"
                    src="/assets/hero__misc.svg"
                    alt=""
                /></span
            > building websites
        </h1>
        <picture>
            <source
                srcset="/assets/me__Tablet.avif"
                media="(min-width: 768px)"
            />
            <img src="/assets/me__Mobile.avif" alt="" />
        </picture>
    </div>

    <article>
        <h2>Front-end developer</h2>
        <p>
            I've have experience working as a freelance front-end developer.
            Nowadays, I'm looking for a full time opportunity while working as a
            freelancer.
        </p>
        <p>
            I've have experience working as a freelance front-end developer.
            Nowadays, I'm looking for a full time opportunity while working as a
            freelancer.
        </p>
        <p>
            I've have experience working as a freelance front-end developer.
            Nowadays, I'm looking for a full time opportunity while working as a
            freelancer.
        </p>
    </article>
</section>

<script>
    const observer = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
              if(entry.isIntersecting) {
                  entry.target.classList.add('fade__animation')
              }
          })
      })
  
      const section = document.querySelectorAll('.section')
  
      section.forEach((el) => observer.observe(el))
  </script>

<style>
    section {
        margin-block: 2rem;
    }

    h1 {
        font-size: var(--fs__36);
        font-weight: var(--fw__medium);
        width: 8ch;
    }

    article {
        margin-top: 3rem;
    }

    h2 {
        font-size: var(--fs__28);
        font-weight: var(--fw__medium);
    }

    p {
        font-size: var(--fs__18);
        font-weight: var(--fw__regular);
        margin-block: 1rem;
    }

    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        align-items: center;
    }

    span {
        position: relative;
        z-index: 25;
    }

    .misc {
        position: absolute;
        z-index: 25;
        bottom: -7px;
        right: 0;
    }

    @media (min-width: 768px) {
        section {
            margin-block: 5rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        h1 {
            font-size: var(--fs__48);
            line-height: normal;
        }

        article {
            margin-top: 0;
        }

        h2 {
            font-size: var(--fs__32);
        }

        p {
            font-size: var(--fs__20);
        }
    }

    @media (min-width: 1024px) {
        section {
            margin-block: 6.5rem;
            display: grid;
            grid-template-columns: minmax(300px, 500px) 1fr;
            gap: 0;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
        }

        h1 {
            font-size: var(--fs__64);
        }

        article {
            margin-top: 0;
        }

        h2 {
            font-size: var(--fs__48);
        }

        p {
            font-size: var(--fs__20);
            margin-block: 2rem;
        }
    }
</style>
