<script>
  const btn = document.querySelector(".copyInteraction");
  const mail = "facundojsole@gmail.com";

  btn.addEventListener("click", () => {
    btn.innerHTML = "Copied!";
    navigator.clipboard.writeText(mail);

    setTimeout(() => {
      btn.innerHTML = "Copy email";
    }, 30000);
  });

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("fade__animation");
      }
    });
  });

  const section = document.querySelectorAll(".section");

  section.forEach((el) => observer.observe(el));
</script>

<section class="section" id="contact">
  <h3>Let's build together!</h3>
  <h2>facundojsole@gmail.com</h2>
  <span><button class="copyInteraction">Copy email</button></span>
</section>

<style>
  section {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-block: 3rem;
    padding: 7rem 1rem;
    background: var(--clr__secondary__purple);
    border-radius: 2.5rem;
  }

  :is(h2, h3) {
    color: var(--clr__primary__purple);
  }

  h2 {
    font-size: var(--fs__24);
    font-weight: var(--fw__medium);
  }

  h3 {
    font-size: var(--fs__18);
    font-weight: var(--fw__regular);
  }

  button {
    background: var(--clr__white);
    cursor: pointer;

    padding: 0.5rem 1rem;
    border: 1px solid var(--clr__ultra__black);
    border-radius: 100vh;

    transition: 0.2s linear;
  }

  button:is(:hover, :focus-within) {
    scale: 1.02;
    box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 1);
  }

  @media (min-width: 768px) {
    h2 {
      font-size: var(--fs__48);
    }

    h3 {
      font-size: var(--fs__28);
    }

    span {
      font-size: var(--fs__20);
      font-weight: var(--fw__medium);
    }

    button {
      padding: 0.75rem 2.5rem;
    }
  }
</style>
