<footer>
    <ul>
        <li>
            <a href="/projects" rel="noopener noreferrer">Projects</a>
        </li>
        <li>
            <a href="#" target="_blank" rel="noopener noreferrer">Github</a>
        </li>
        <li>
            <a href="#" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </li>
        <li>
            <a href="#" rel="noopener noreferrer">About me</a>
        </li>
    </ul>
    <div>
        <button>
            <img
                src="/assets/footer__upArrow.svg"
                alt="Arrow pointing upwards to go to the top of the site when you click on it"
            />
        </button>
    </div>
</footer>
<style>
    footer {
        background-color: var(--clr__black2);
        border-radius: 2.5rem;
        padding: 2rem 2rem 0.5rem 2rem;
    }

    ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        text-align: center;
    }

    li {
        margin-bottom: 3rem;
    }

    li > a {
        color: var(--clr__white);
        text-decoration: none;
        padding: 1rem 1.5rem;
        text-align: center;
        border: 2px solid var(--clr__gray);
        transition: 0.2s linear;
    }

    li > a:is(:hover, :focus-within) {
        color: var(--clr__black2);
        background: var(--clr__lime);
        border: 2px solid var(--clr__lime);
    }

    ul :is(li:nth-child(1), li:nth-child(4)) a {
        border-radius: 1rem;
    }

    ul :is(li:nth-child(2), li:nth-child(3)) a {
        border-radius: 100vh;
    }

    div {
        text-align: center;
    }

    button {
        background: none;
        cursor: pointer;
        border: transparent;
        text-align: center;
    }

    button img {
        width: 4rem;
        aspect-ratio: 1/1;
    }
</style>
