<footer>
    <button><img src="/assets/lime__burgerMenu.svg" alt="Expandable burger menu to access the links inside the footer"></button>
    <button><img src="/assets/footer__upArrow.svg" alt="Arrow pointing upwards to go to the top of the site when you click on it"></button>
</footer>
<style>
    button {
        background: none;
        cursor: pointer;
        border: transparent;
    }

    footer {
        background-color: var(--clr__black2);
        border-radius: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
    }
</style>