<section>
    <h1>
        Front-end developer <br />
        who strives for <span
            >clean<img class="misc" src="/assets/hero__misc.svg" alt="" /></span
        > code
    </h1>
    <div>
        <img src="/assets/hero__bottomArrow.svg" alt="" />
        <small>Scroll down</small>
    </div>
</section>

<style>
    section {
        margin-block: 3rem;
    }

    h1 {
        font-size: var(--fs__28);
        font-weight: var(--fw__medium);
        text-align: center;
        letter-spacing: -1px;
    }

    span {
        position: relative;
    }

    .misc {
        position: absolute;
        bottom: -7px;
        right: 0;
    }

    div {
        display: grid;
        place-content: center;
        place-items: center;
        margin-top: 3rem;
    }

    div img {
        animation: hop 2s linear infinite;
    }

    small {
        margin-top: 0.5rem;
        font-size: var(--fs__16);
        font-weight: var(--fw__regular);
        color: var(--clr__gray);
    }

    @keyframes hop {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-1rem);
        }
        100% {
            transform: translateY(0);
        }
    }
</style>
