<nav>
    <div class="menu__container">
        <div class="icon"></div>
    </div>
    <button>Work with me</button>
</nav>
<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 2rem;
    }

    .icon {
        height: 16px;
        width: 16px;
        border: solid 1px black;
    }
</style>