---
import CTA from "./cta/CTA.astro";

---

<nav class="section">
    <div class="menu">
            <ul>
                <svg class="hide" width="50" height="50" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.16998 14.83L14.83 9.17004" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.83 14.83L9.16998 9.17004" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <li class="hide"><a href="/"><span>Home</span></a></li>
                <li class="hide"><a href="/projects"><span>Projects</span></a></li>
                <li class="hide"><a href="/about-me"><span>About me</span></a></li>
                <li class="hide"><a href="https://github.com/facusole"><span>Github</span></a></li>
                <li class="hide"><a href="https://www.linkedin.com/in/facundo-sole/"><span>Linkedin</span></a></li>
            </ul>
        </div>
    <button class="menu__container">
        <img src="/assets/purple__burgerMenu.svg" alt="Expandable burger menu icon to access the navbar links.">
        
    </button>
    <ul class="desktop">
        <li><a href="/"><span>Home</span></a></li>
        <li><a href="/projects"><span>Projects</span></a></li>
        <li><a href="/about-me"><span>About me</span></a></li>
        <li><a href="https://github.com/facusole"><span>Github</span></a></li>
        <li><a href="https://www.linkedin.com/in/facundo-sole/"><span>Linkedin</span></a></li>
    </ul>
    <CTA cta='Work with me' />
</nav>

<script>
    const menu = document.querySelector('.menu')
    const menuBtn = document.querySelector('.menu__container')
    const menuClose = document.querySelector('svg')

    menuBtn.addEventListener('click', () => {
        menu.classList.toggle('active')
    })

    menuClose.addEventListener('click', () => {
        menu.classList.toggle('active')
    })

    const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if(entry.isIntersecting) {
				entry.target.classList.add('fade__animation')
			}
		})
	})

    const observerMenu = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if(entry.isIntersecting) {
				entry.target.classList.add('show')
			} else {
				entry.target.classList.remove('show')
            }
		})
	})

	const section = document.querySelectorAll('.section')
    const menuLinks = document.querySelectorAll('.hide')

	section.forEach((el) => observer.observe(el))
	menuLinks.forEach((el) => observerMenu.observe(el))

</script>

<style>
    nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-block: 2rem;

        background-color: var(--clr__secondary__purple);
        border-radius: 100vh;
        padding: .5rem 1rem;

        font-weight: var(--fw__medium);
    }

    .menu__container {
        background: var(--clr__white);

        border: 1px solid var(--clr__ultra__black);
        border-radius: 100vh;
        cursor: pointer;
        padding: .5rem .75rem;

        transition: .2s linear;
    }

    .menu {
        display: none;
    }

    .active {
        display: block;
        position: fixed;
        inset: 0;
        min-height: 100dvh;

        background-color: var(--clr__secondary__purple);
        z-index: 50;
    }

    .active ul {
        display: grid;
        place-content: center;
        gap: 5rem;
        padding: 1rem 2rem;

        list-style: none;
        min-height: 100dvh;
        text-align: center;
    }

    .active li {
        width: min(20rem, 40rem);
    }

    .active a {
        text-decoration: none;
        color: var(--clr__primary__purple);
        font-size: var(--fs__36);
        width: 20ch;
    }

    svg {
        position: absolute;
        inset: 3rem 2rem auto auto;
    }

    .desktop {
        display: none;
    }

    @media (min-width: 768px) {

        nav {
            flex-direction: row;
        }

        .menu__container {
            display: none;
        }

        .desktop {
            position: relative;
            display: flex;
            list-style: none;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: var(--clr__primary__purple);
            font-size: var(--fs__18);
            font-weight: var(--fw__medium);
            padding: 1rem;
        }

        span {
            position: relative;
        }

        a:is(:hover, :focus-within) span::after{
            content: '';
            position: absolute;
            left: 0;
            bottom:-2px;
            height: 2px;
            width: 100%;
            background-color: var(--clr__primary__purple);
            animation: hoverEffect .2s linear;
        }

        @keyframes hoverEffect {
            from {width: 0;}
            to {widows: 100%;}
        }
    }

    @media (min-width: 1024px) {

        nav {
            font-size: var(--fs__20);
        }
        
        a {
            font-size: var(--fs__20);
        }
    }

      /* ------------------- FADE-IN ANIMATION ----------------- */

    .hide {
		opacity: 0;
        transition: all 1s;
	}

    .show {
        opacity: 1;
    }

    .menu ul li:nth-child(2) {
        transition-delay: 100ms;
    }
    .menu ul li:nth-child(3) {
        transition-delay: 200ms;
    }
    .menu ul li:nth-child(4) {
        transition-delay: 300ms;
    }
    .menu ul li:nth-child(5) {
        transition-delay: 400ms;
    }
    .menu ul li:nth-child(6) {
        transition-delay: 500ms;
    }


</style>