---
import CTA from "./cta/CTA.astro";

---

<nav>
    <div class="menu">
            <ul id="menu__links">
                <svg fill="#5138f5" height="24px" width="24px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 460.775 460.775" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M285.08,230.397L456.218,59.27c6.076-6.077,6.076-15.911,0-21.986L423.511,4.565c-2.913-2.911-6.866-4.55-10.992-4.55 c-4.127,0-8.08,1.639-10.993,4.55l-171.138,171.14L59.25,4.565c-2.913-2.911-6.866-4.55-10.993-4.55 c-4.126,0-8.08,1.639-10.992,4.55L4.558,37.284c-6.077,6.075-6.077,15.909,0,21.986l171.138,171.128L4.575,401.505 c-6.074,6.077-6.074,15.911,0,21.986l32.709,32.719c2.911,2.911,6.865,4.55,10.992,4.55c4.127,0,8.08-1.639,10.994-4.55 l171.117-171.12l171.118,171.12c2.913,2.911,6.866,4.55,10.993,4.55c4.128,0,8.081-1.639,10.992-4.55l32.709-32.719 c6.074-6.075,6.074-15.909,0-21.986L285.08,230.397z"></path></g></svg>
                <li><a href="/"><span>Home</span></a></li>
                <li><a href="/projects"><span>Projects</span></a></li>
                <li><a href="/about-me"><span>About me</span></a></li>
                <li><a href="https://github.com/facusole"><span>Github</span></a></li>
                <li><a href="https://www.linkedin.com/in/facundo-sole/"><span>Linkedin</span></a></li>
            </ul>
        </div>
    <button class="menu__container">
        <img src="/assets/purple__burgerMenu.svg" alt="Expandable burger menu icon to access the navbar links.">
        
    </button>
    <ul class="desktop">
        <li><a href="/"><span>Home</span></a></li>
        <li><a href="/projects"><span>Projects</span></a></li>
        <li><a href="/about-me"><span>About me</span></a></li>
        <li><a href="https://github.com/facusole"><span>Github</span></a></li>
        <li><a href="https://www.linkedin.com/in/facundo-sole/"><span>Linkedin</span></a></li>
    </ul>
    <CTA cta='Work with me' />
</nav>

<script>
    const menu = document.querySelector('.menu')
    const menuBtn = document.querySelector('.menu__container')
    const menuClose = document.querySelector('svg')

    menuBtn.addEventListener('click', () => {
        menu.classList.toggle('active')
    })

    menuClose.addEventListener('click', () => {
        menu.classList.toggle('active')
    })

</script>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 2rem;

        background-color: var(--clr__secondary__purple);
        border-radius: 100vh;
        padding: .5rem 1rem;

        font-weight: var(--fw__medium);
    }

    .menu__container {
        background: var(--clr__white);

        border: 1px solid var(--clr__ultra__black);
        border-radius: 100vh;
        cursor: pointer;
        padding: .5rem .75rem;

        transition: .2s linear;
    }

    .menu {
        position: fixed;
        inset: 0;
        min-height: 100dvh;

        background-color: var(--clr__secondary__purple);
        z-index: 50;

        transition: .6s linear;
        transform: translateY(-100dvh);
    }

    .active {
        transform: none;
        overflow-y: hidden;
    }

    .active ul {
        display: grid;
        place-content: center;
        gap: 5rem;
        padding: 1rem 2rem;

        list-style: none;
        min-height: 100dvh;
        text-align: center;
    }

    .active li {
        width: min(20rem, 40rem);
    }

    .active a {
        text-decoration: none;
        color: var(--clr__primary__purple);
        font-size: var(--fs__28);
        width: 20ch;
    }

    svg {
        position: absolute;
        inset: 3rem 3rem auto  auto ;
    }

    .desktop {
        display: none;
    }

    @media (min-width: 768px) {
        .menu__container {
            display: none;
        }

        .desktop {
            position: relative;
            display: flex;
            list-style: none;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: var(--clr__primary__purple);
            font-size: var(--fs__18);
            font-weight: var(--fw__medium);
            padding: 1rem;
        }

        span {
            position: relative;
        }

        a:is(:hover, :focus-within) span::after{
            content: '';
            position: absolute;
            left: 0;
            bottom:-2px;
            height: 2px;
            width: 100%;
            background-color: var(--clr__primary__purple);
            animation: hoverEffect .2s linear;
        }

        @keyframes hoverEffect {
            from {width: 0;}
            to {widows: 100%;}
        }
    }

    @media (min-width: 1024px) {

        nav {
            font-size: var(--fs__20);
        }
        
        a {
            font-size: var(--fs__20);
        }
    }


</style>