---
import CTA from "./cta/CTA.astro";

---

<nav>
    <button class="menu__container">
        <img src="/assets/purple__burgerMenu.svg" alt="Expandable burger menu icon to access the navbar links.">
    </button>
    <CTA cta='Work with me' />
</nav>
<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 2rem;

        background-color: var(--clr__secondary__purple);
        border-radius: 100vh;
        padding: .5rem 1rem;
    }

    .menu__container {
        background: none;
        border: transparent;
        cursor: pointer;
    }
</style>