---
import CTA from "./cta/CTA.astro";

---

<nav>
    <button class="menu__container">
        <img src="/assets/purple__burgerMenu.svg" alt="Expandable burger menu icon to access the navbar links.">
    </button>
    <ul>
        <li><a href="/"><span>Home</span></a></li>
        <li><a href="/projects"><span>Projects</span></a></li>
        <li><a href="/about-me"><span>About me</span></a></li>
        <li><a href="https://github.com/facusole"><span>Github</span></a></li>
        <li><a href="https://www.linkedin.com/in/facundo-sole/"><span>Linkedin</span></a></li>
    </ul>
    <CTA cta='Work with me' />
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 2rem;

        background-color: var(--clr__secondary__purple);
        border-radius: 100vh;
        padding: .5rem 1rem;

        font-weight: var(--fw__medium);
    }

    .menu__container {
        background: var(--clr__white);

        border: 1px solid var(--clr__ultra__black);
        border-radius: 100vh;
        cursor: pointer;
        padding: .5rem .75rem;

        transition: .2s linear;
    }

    .menu__container:is(:hover, :focus-within) {
        scale: 1.02;
        box-shadow: 2px 2px 0px 1px rgba(0,0,0,1);
    }

    ul {
        display: none;
    }


    @media (min-width: 768px) {
        .menu__container {
            display: none;
            background-color: red;
        }

        ul {
            display: flex;
            list-style: none;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: var(--clr__primary__purple);
            font-size: var(--fs__18);
            font-weight: var(--fw__medium);
            padding: 1rem;
        }

        span {
            position: relative;
        }

        a:is(:hover, :focus-within) span::after{
            content: '';
            position: absolute;
            left: 0;
            bottom:-2px;
            height: 2px;
            width: 100%;
            background-color: var(--clr__primary__purple);
            animation: hoverEffect .2s linear;
        }

        @keyframes hoverEffect {
            from {width: 0;}
            to {widows: 100%;}
        }
    }

    @media (min-width: 1024px) {

        nav {
            font-size: var(--fs__20);
        }
        
        a {
            font-size: var(--fs__20);
        }
    }


</style>