---
import Card from "./card/Card.astro";

---

<section>
    <Card
        src="/assets/plumaDePapel.webp"
        title="E-commerce"
        tags="React, CSS, Firebase"
        desc="With firebase as backend data base, full flow fromsearching to checkout."
        link="https://pluma-de-papel.vercel.app"
    />
    <Card
        src="/assets/plumaDePapel.webp"
        title="E-commerce"
        tags="React, CSS, Firebase"
        desc="With firebase as backend data base, full flow fromsearching to checkout."
        link="https://pluma-de-papel.vercel.app"
    />
    <Card
        src="/assets/plumaDePapel.webp"
        title="E-commerce"
        tags="React, CSS, Firebase"
        desc="With firebase as backend data base, full flow fromsearching to checkout."
        link="https://pluma-de-papel.vercel.app"
    />
    <Card
        src="/assets/plumaDePapel.webp"
        title="E-commerce"
        tags="React, CSS, Firebase"
        desc="With firebase as backend data base, full flow fromsearching to checkout."
        link="https://pluma-de-papel.vercel.app"
    />
    <Card
        src="/assets/plumaDePapel.webp"
        title="E-commerce"
        tags="React, CSS, Firebase"
        desc="With firebase as backend data base, full flow fromsearching to checkout."
        link="https://pluma-de-papel.vercel.app"
    />
    <Card
        src="/assets/plumaDePapel.webp"
        title="E-commerce"
        tags="React, CSS, Firebase"
        desc="With firebase as backend data base, full flow fromsearching to checkout."
        link="https://pluma-de-papel.vercel.app"
    />
</section>

<style>
    section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;

        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        scrollbar-width: none;
    }

    section::-webkit-scrollbar {
        display: none;
    }
</style>