---
import Card from "./card/Card.astro";
---

<section>
  <Card
      src="/assets/projects/humankind__cover.jpg"
      alt="Get into turn-based fights with different monsters that appear in the Land of Kinds. Can you defeat them all?"
      title="Humankind - Wrestle"
      tags="Next.JS, TypeScript, tailwindCSS"
      desc="Get into turn-based fights with different monsters that appear in the Land of Kinds. Can you defeat them all?"
      link="https://www.humankind.art/wrestle"
    />
  <Card
    src="/assets/projects/tateti__cover.jpg"
    alt="Landing page for Grupo Tateti, a non-profit organization from Argentina."
    title="Grupo Tateti"
    tags="Astro, CSS, JavaScript"
    desc="Landing page for Grupo Tateti, a non-profit organization from Argentina."
    link="https://www.grupotateti.org.ar"
  />
  <Card
    src="/assets/projects/pluma__cover.jpg"
    alt="E-commerce website for a stationary called Pluma de Papel, where you can make the buying flow, from selecting an item all the way through the payment"
    title="E-commerce"
    tags="React, CSS, Firebase"
    desc="E-commerce made with React.js, with a custom searchbar with auto-suggestions. Utilizes firebase to store the products"
    link="https://pluma-de-papel.vercel.app"
  />
  <Card
    src="/assets/projects/pokedex__cover.jpg"
    alt="Pokedex with a modern aesthetic, made with React as a SPA."
    title="Pokedex!"
    tags="React, TailwindCSS"
    desc="Using the PokeAPI, fully functional Pokedex up until 5th generation. It's a SPA made with React"
    link="https://pokedex-liard-sigma.vercel.app"
  />
  <Card
    src="/assets/projects/voting__cover.jpg"
    alt="Voting app technical challenge from DailyPay, where you can submit your votes."
    title="Voting app challenge"
    tags="Next.js, TailwindCSS"
    desc="First project using Next, it's a technical challenge from DailyPay. It uses a mock data file where I get the list of nominees."
    link="https://next-voting-app.vercel.app"
  />
  <Card
    src="/assets/projects/table__cover.jpg"
    alt="Finance table where you can keep track of your incomes and your expenses with two individual tabs."
    title="Finance table"
    tags="React, CSS"
    desc="Financial table where you can keep track of your incomes and your expenses, using localStorage to persist your data"
    link="https://finances-table.vercel.app"
  />
  <Card
    src="/assets/projects/pass__cover.jpg"
    alt="Password generator, customizable with lowercase, uppercase, symbols and numbers."
    title="Password generator"
    tags="React, TailwindCSS"
    desc="Password generator, customizable with lowercase, uppercase, symbols and numbers."
    link="https://password-gen-theta.vercel.app"
  />
  <Card
    src="/assets/projects/Card.webp"
    alt="Personal contact card, that serves as a little link tree for Facundo Solé website, linkedin and github."
    title="Contact card"
    tags="React, CSS"
    desc="Personal contact card, where I play around with the React-parallax-tilt library. It serves as a little link tree for my website, linkedin and github."
    link="https://facundosole-card.vercel.app"
  />
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    margin-left: 1.5rem;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    scrollbar-width: none;
  }

  section::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 768px) {
    section {
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      gap: 2rem;
    }
  }

  @media (min-width: 1024px) {
    section {
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      gap: 3rem;
    }
  }
</style>
