---
import Card from "./card/Card.astro";
---

<section class="section">
    <h2>Selected projects</h2>
    <div class="projects__container">
        <Card
            src="/assets/plumaDePapel.webp"
            alt="E-commerce website for a stationary called Pluma de Papel, where you can make the buying flow, from selecting an item all the way through the payment"
            title="E-commerce"
            tags="React, CSS, Firebase"
            desc="With firebase as backend data base, full flow fromsearching to checkout."
            link="https://pluma-de-papel.vercel.app"
        />
        <Card
            src="/assets/plumaDePapel.webp"
            alt="E-commerce website for a stationary called Pluma de Papel, where you can make the buying flow, from selecting an item all the way through the payment"
            title="E-commerce"
            tags="React, CSS, Firebase"
            desc="With firebase as backend data base, full flow fromsearching to checkout."
            link="https://pluma-de-papel.vercel.app"
        />
        <Card
            src="/assets/plumaDePapel.webp"
            alt="E-commerce website for a stationary called Pluma de Papel, where you can make the buying flow, from selecting an item all the way through the payment"
            title="E-commerce"
            tags="React, CSS, Firebase"
            desc="With firebase as backend data base, full flow fromsearching to checkout."
            link="https://pluma-de-papel.vercel.app"
        />
        <Card
            src="/assets/plumaDePapel.webp"
            alt="E-commerce website for a stationary called Pluma de Papel, where you can make the buying flow, from selecting an item all the way through the payment"
            title="E-commerce"
            tags="React, CSS, Firebase"
            desc="With firebase as backend data base, full flow fromsearching to checkout."
            link="https://pluma-de-papel.vercel.app"
        />
        
    </div>
    <div class="projects__page">
        <a href="/projects">
           <span class="view__project">View all projects</span><span class="view__project"><img src="/assets/card__rightArrow.svg" alt="Right arrow indicating that is an external link andyou will be redirected"/></span>
        </a>
    </div>
</section>

<script>
    const observer = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
              if(entry.isIntersecting) {
                  entry.target.classList.add('fade__animation')
              }
          })
      })
  
      const section = document.querySelectorAll('.section')
  
      section.forEach((el) => observer.observe(el))
  </script>

<style>
    section {
        margin-block: 3rem;
    }

    h2 {
        font-size: var(--fs__20);
        font-weight: var(--fw__medium);
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .projects__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        scrollbar-width: none;
    }

    .projects__container::-webkit-scrollbar {
        display: none;
    }

    .projects__page {
        display: flex;
        justify-content: end;
    }

    a {
        display: inline-flex;
        align-items: center;
        margin-top: 2rem;

        font-size: var(--fs__16);
        text-decoration: none;
        transition: all .2s linear;
    }

    .view__project {
        color: var(--clr__primary__purple);
        font-weight: var(--fw__semibold);

        background: var(--clr__secondary__purple);
        border: solid 1px var(--clr__primary__purple);
        border-radius: 100vh;

        padding: 0.5rem 1rem;
    }

    a img {
        width: 1.5rem;
        aspect-ratio: 1/1;
    }

    @media (min-width: 768px) {

        section {
            margin-block: 5rem;
        }

        a {
            font-size: var(--fs__18);
        }
        a:is(:hover, :focus-within) {
            scale: 1.02;
            translate: 1rem;
        }

        h2 {
            font-size: var(--fs__28);
        }
    }

    @media (min-width: 1024px) {

        section {
            margin-block: 7rem;
        }

        a {
            font-size: var(--fs__20);
        }
        h2 {
            font-size: var(--fs__40);
        }
    }
</style>
