---
import SmallCard from "./smallCard/SmallCard.astro";
---

<section class="section">
    <h2>How can I help?</h2>
    <div class="skills__container">
        <SmallCard
            src="/assets/abilities__square.svg"
            alt="square icon with nodes that represents a website being built"
            skill="Websites from scratch"
            description="With Next.js, React.js or Astro, high performance websites built from scratch."
        />
        <SmallCard
            src="/assets/abilities__code.svg"
            alt="code icon that represents the technologies I work with"
            skill="Technologies"
            description="The technologies I use the most are Astro and Next.js, with TypeScript, to build the frontend and TailwindCSS to style."
        />
        <SmallCard
            src="/assets/abilities__tree.svg"
            alt="square icon with nodes that represents a website being built"
            skill="Experience with designers"
            description="Ability to replicate Figma designs with high accuracy. Experience working with designers."
        />
    </div>
</section>

<script>
    const observer = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
              if(entry.isIntersecting) {
                  entry.target.classList.add('fade__animation')
              }
          })
      })
  
      const section = document.querySelectorAll('.section')
  
      section.forEach((el) => observer.observe(el))
  </script>

<style>
    section {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        margin-block: 3rem;
    }

    h2 {
        font-size: var(--fs__20);
        font-weight: var(--fw__medium);
        text-align: center;
    }

    .skills__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media (min-width: 768px) {

        section {
            margin-block: 5rem;
        }

        h2 {
            font-size: var(--fs__28);
        }

        .skills__container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;

            overflow-x: scroll;
            scroll-snap-type: x mandatory;

            scrollbar-width: none;
        }

        .skills__container::-webkit-scrollbar {
            display: none;
        }
    }

    @media (min-width: 1024px) {

        section {
            margin-block: 6rem;
        }
        h2 {
            font-size: var(--fs__40);
        }
    }
</style>
