<section>
    <h2>Some testimonials</h2>
    <article>
        <p>"Facundo was always ready and motivated implementing the design. Communication was smooth, being able to replicate the proposed design on Figma, demonstrating his skills.
            I think he has a lot of talent to exploit and keep growing. He is an excellent person and professional!"</p>
        <div>
            <img class="people" src="/assets/people/Camila Russo.avif" alt="">
            <h3><a href="https://www.linkedin.com/in/russocamila/">Camila Russo</a></h3>
            <h4>Designer</h4>
            <img class="controls left" src="/assets/testimonials__leftArrow.svg" alt="">
            <img class="controls right" src="/assets/testimonials__rightArrow.svg" alt="">    
        </div>
    </article>
</section>

<style>

    p {
        font-size: var(--fs__18);
        font-weight: var(--fw__medium);
    }

    h2 {
        text-align: center;
        font-size: var(--fs__20);
        font-weight: var(--fw__medium);
    }

    article {
        border: 2px solid var(--clr__ultra__black);
        border-radius: 2.5rem;

        padding: 3.5rem 1rem;
        margin-top: 2rem;

    }


    div {
        margin-top: 2rem;
        position: relative;
    }
    
    .people {
        width: 82px;
        aspect-ratio: 1;
        outline: 2px solid var(--clr__primary__purple);
        outline-offset: 3px;
        border-radius: 50%;
        margin-inline: auto;
    }

    h3 {
        letter-spacing: -1px;
        font-size: var(--fs__20);
        font-weight: var(--fw__medium);
        margin-top: 1rem;
        text-align: center;
    }

    h3 a {
        text-decoration: none;
        color: var(--clr__primary__purple);

    }

    h4 {
        color: var(--clr__gray);
        letter-spacing: -1px;
        font-size: var(--fs__20);
        font-weight: var(--fw__regular);
    }

    :is(p, a, h4) {
        text-align: center;
    }

    .controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: scale .2s linear;
    }

    .controls:is(:hover, :focus-within) {
        scale: 1.03;
    }

    .right {
        right: 0rem;
    }

    @media (min-width: 768px) {

        p {
            font-size: var(--fs__24);
        }

        h3 {
            font-size: var(--fs__28);
        }

        .controls {
            width: 4rem;
            aspect-ratio: 1;
        }

        .left {
            left: 1rem;
        }

        .right {
            right: 1rem;
        }
    }
</style>