---
import Contact from "../components/contact.astro";
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar.astro";
import Testimonials from "../components/testimonials.astro";
import { AstroFont } from "astro-font";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Personal website portfolio for Facundo Solé, a frontend developer from Argentina. He excels working with Next.JS and Astro.build, but he's able to work with any JavaScript Frameworks like Angular and Vue.JS." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/fs.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Facundo Solé" />
    <meta property="og:url" content="https://www.facundosole.com.ar/" />
    <meta property="og:description" content="Personal website portfolio for Facundo Solé, a frontend developer from Argentina. He excels working with Next.JS and Astro.build, but he's able to work with any JavaScript Frameworks like Angular and Vue.JS."  />
    <meta property="og:image" content="https://www.facundosole.com.ar/cover.webp" />
    <meta name="view-transition" content="same-origin" />
    <title>{title}</title>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"
    ></script>
    <AstroFont
      config={[
        {
          src: [],
          name: "Raleway",
          googleFontsURL: "https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap",
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
  </head>
  <body id="body">
    <Navbar />
    <slot />
    <Testimonials />
    <Contact />
    <Footer />
    <div class="espacio"></div>
  </body>
</html>

<style is:global>
  /*
  1. Use a more-intuitive box-sizing model.
*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  /*
  2. Remove default margin
*/
  * {
    margin: 0;
  }
  /*
  3. Allow percentage-based heights in the application
*/
  html,
  body {
    height: 100%;
    scroll-behavior: smooth !important;
  }
  /*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
  6. Improve media defaults
*/
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  /*
  7. Remove built-in form typography styles
*/
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  /*
  8. Avoid text overflows
*/
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  /*
  9. Create a root stacking context
*/
  #root,
  #__next {
    isolation: isolate;
  }

  :root {
    --fs__64: 4rem;
    --fs__52: 3.25rem;
    --fs__48: 3rem;
    --fs__40: 2.5rem;
    --fs__36: 2.25rem;
    --fs__32: 2rem;
    --fs__28: 1.75rem;
    --fs__24: 1.5rem;
    --fs__20: 1.25rem;
    --fs__18: 1.125rem;
    --fs__16: 1rem;
    --fs__14: 0.875rem;

    --fw__regular: 400;
    --fw__medium: 500;
    --fw__semibold: 600;

    --clr__white: hsl(0, 0%, 100%);
    --clr__gray: hsl(0, 0%, 43%);
    --clr__dark__gray: rgba(14, 14, 17, 0.8);
    --clr__black1: hsl(227, 10%, 18%);
    --clr__black2: hsl(0, 2%, 11%);
    --clr__ultra__black: hsl(220, 10%, 6%);

    --clr__primary__purple: hsl(248, 90%, 59%);
    --clr__secondary__purple: hsl(245, 87%, 97%);
    --clr__lime: hsl(73, 100%, 61%);
  }

  ::selection {
    background: var(--clr__lime);
  }

  body {
    font-family: Raleway, sans-serif;
    font-weight: var(--fw__regular);
  }

  .p__inline {
    padding-inline: 1.5rem;
  }

  .espacio {
    height: 2rem;
  }

  /* ------------------- VIEW TRANSITIONS ----------------- */
  
  @view-transition {
    navigation: auto;
  }

  @media (min-width: 768px) {
    .p__inline {
      padding-inline: 3rem;
    }
  }

  @media (min-width: 1024px) {
    .p__inline {
      padding-inline: 6rem;
    }

    .espacio {
      height: 4.5rem;
    }
  }

  /* ------------------- FADE-IN ANIMATION ----------------- */

  .fade__animation {
    animation: fade-up 0.3s ease;
  }

  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(30px) scale(0.9);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  /* ------------------- MISCELLANEOUS UTIL CLASS ----------------- */

  .misc {
    position: absolute;
    width: 95%;
    height: auto;
    bottom: -0.75rem;
    left: 0;
  }
  @media (min-width: 768px) {
    .misc {
      bottom: -1.25rem;
    }
  }

  @media (min-width: 1024px) {
    .misc {
      bottom: -1.75rem;
    }
  }
</style>
